/* common css */
body{
    font-family:poppins;
    margin: 0px;
}
section{
    border-radius: 5px;
    margin: 30px auto;
    width: 870px;
    background-color: white;
}
.container {
    padding: 30px 30px;
}
h2.all-section-head {
    color: #562EFF;
    font-weight: 500;
    font-size: 24px;
    margin: 0;
    padding-bottom: 30px;
}
main {
    background-color: #F3F1FF;
    overflow: hidden;
}
hr{
    margin: 0px 30px;
}
/* header style */
header{
    background-color:#562EFF;
}
.nav-bar{
    margin:0px auto;
    width: 870px;
}
a#logo {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;
}
#logo img {
    width: 40px;
    height: 51px;
}
span#logo-text {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}
/* top contents section style */
/* top-player-style */
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player {
    display: flex;
    column-gap: 10px;
}

.player img {
    height: 56px;
    width: 56px;
}
.player h3 {
    font-size: 18px;
    font-weight: 500;
}
/* top-blog-style */
.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 26px 20px;
}
.blog {
    display: flex;
    column-gap: 20px;
}
.blog-detail header h3,.course h3 {
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    margin: 0;
}
.blog-thumbnail img {
    width: 177px;
    height: 117px;
}
span.author {
    color: #562EFF;
}

/* latests courses section style */
.courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course {
    padding: 10px;
    margin: 10px;
    box-shadow: #00000014 0px 0px 8px;
    border-radius: 10px;
}
.course img {
    width: 100%;
    height: auto;
}
.course h5 {
    margin: 0;
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14px;
}
.c-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
}
i.fas.fa-star {
    font-size: 14px;
}
i.fas.fa-star.s-deactive {
    color: #AEAEAE;
}

i.fas.fa-star.s-active {
    color: #FFC014;
}
.c-time i {
    margin-right: 2px;
}

.c-time {
    color: #ED6B4F;
    background-color: #ed6b4f1c;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
}