/* THIS STYLESHEET IS DEDICATED FOR MAIN CONTENT STYLE */

/* top-player-style */
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}
.player {
    display: flex;
    column-gap: 10px;
}

.player img {
    height: 56px;
    width: 56px;
}
.player h3 {
    font-size: 18px;
    font-weight: 500;
}
/* top-blog-style */
.blogs {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 26px 20px;
}
.blog {
    display: flex;
    column-gap: 20px;
}
.blog-detail header h3,.course h3 {
    font-size: 19px;
    font-weight: 500;
    line-height: 34px;
    margin: 0;
}
.blog-thumbnail img {
    width: 177px;
    height: 117px;
}
span.author {
    color: #562EFF;
}

/* latests courses section style */
.courses {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.course {
    padding: 10px;
    margin: 10px;
    box-shadow: #00000014 0px 0px 8px;
    border-radius: 10px;
}
.course img {
    width: 100%;
    height: auto;
}
.course h5 {
    margin: 0;
    color: #ED6B4F;
    font-weight: 400;
    font-size: 14px;
}
.c-bottom {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    align-items: center;
}
i.fas.fa-star {
    font-size: 14px;
}
i.fas.fa-star.s-deactive {
    color: #AEAEAE;
}

i.fas.fa-star.s-active {
    color: #FFC014;
}
.c-time i {
    margin-right: 2px;
}

.c-time {
    color: #ED6B4F;
    background-color: #ed6b4f1c;
    padding: 4px 8px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 400;
}